.custom-header {
    background-color: #f87f54;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image {
    width: 50%;
    border-radius: 30px;
}

.description-container {
    justify-content: center;
}

.description {
    max-width: 70%;
    margin: 0 auto;
    /* Automatyczne ustawienie marginesów poziomych na "auto" powoduje wyśrodkowanie elementu wzdłuż osi poziomej */
    text-align: center;
    height: 100%;
}

.add-button-container {
    display: inline-block;
}

.foot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    display: inline-block;
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 10px;
}

.price-p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.cook-time {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cook-time-p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.description-p {
    font-weight: bold;
}

@media (max-width: 500px) {
    .image {
        width: 80%;
        border-radius: 30px;
    }
}

ion-content {
    --offset-bottom: auto !important;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fe7240;
        border-radius: 5px;
    }
}