ion-card {
  max-width: 400px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.email-input,
.password-input {
  margin-bottom: 20px;
}

.submit-button ion-button {
  margin-top: 20px;
}