ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: #ffcdbb;
}

ion-menu.md ion-item.selected ion-icon {
  color: #f87f54;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: #f87f54;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: #f87f54;
}

ion-item.selected {
  --color: grey;
}

.user-name {
  font-weight: bold;
}

.menu-button {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 12px 16px;
  font-size: 14px;
  color: #f87f54;
}

.menu-button ion-icon {
  margin-right: 8px;
}

ion-list-header ion-icon {
  color: rgb(95, 95, 95);
}

ion-list-header {
  color: rgb(95, 95, 95);
}

.cart-container {
  position: relative;
  padding-right: 8px;
  padding-top: 8px;
}

.cart-count-container {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-radius: 15px;
}

.cart-icon {
  font-size: 1.8rem;
}

.ion-label-cart {
  padding-left: 17px;
}

ion-item {
  padding-top: 10px;
}

.image-logo {
  width: 250px;
  height: auto;
}

.toggle-theme-container {
  display: flex;
  align-items: center;
}

.toggle-theme {
  margin-left: 10px;
}

.toggle-theme-container ion-icon {
  font-size: 2.5rem;
}

.moon-icon {
  margin-left: -17px;
}

.order-container {
  position: relative;
  padding-right: 8px;
  padding-top: 8px;
}

.order-count-container {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-radius: 15px;
}

.bag-icon {
  font-size: 1.8rem;
}

.ion-label-order {
  padding-left: 17px;
}