<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <img class="image-logo" src="/assets/logo.png">
          </ion-list-header>
          <ion-note *ngIf="user.token">{{ welcomeTitle | translate }} <span class="user-name">{{user.name}}</span></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate}}</ion-label>
            </ion-item>
            <ion-item *ngIf="user.isadmin" routerDirection="root" [routerLink]="['/admin']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon class="construct-icon" slot="start" name="construct"></ion-icon>
              <ion-label>{{adminMenuTitle | translate}}</ion-label>
            </ion-item>
            
            <ion-item lines="none" routerDirection="root" [routerLink]="['/cart']" detail="false" routerLinkActive="selected">
              <div class="cart-container">
                <ion-icon class="cart-icon" slot="start" name="cart"></ion-icon>
                <div *ngIf="cart.totalCount!=0" class="cart-count-container">
                  <div class="cart-count">{{cart.totalCount}}</div>
                </div>
              </div>
              <ion-label class="ion-label-cart">{{cartMenuTitle | translate}}</ion-label>
            </ion-item>

            <ion-item routerDirection="root" [routerLink]="['/order']" detail="false" routerLinkActive="selected">
              <div class="order-container">
                <ion-icon class="bag-icon" name="bag-check" slot="start"></ion-icon>
                <div *ngIf="orderLen!=undefined" class="order-count-container">
                  <div class="order-count">{{orderLen}}</div>
                </div>
              </div>
            <ion-label class="ion-label-order">{{yourOrderMenuTitle | translate}}</ion-label>
          </ion-item>

            <ion-item lines="none">
              <div class="toggle-theme-container">
                  <ion-icon name="sunny-outline"></ion-icon>
                  <ion-toggle class="toggle-theme" (ionChange)="toggleTheme($event)"></ion-toggle>
                  <ion-icon name="moon-outline" class="moon-icon"></ion-icon>
              </div>
          </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-button *ngIf="!user.token" routerDirection="root" [routerLink]="['/login']" lines="none" fill="clear" class="menu-button" (click)="toggleMenu()">
          <ion-icon slot="start" name="log-in"></ion-icon>
          <ion-label>{{loginMenuTitle | translate}}</ion-label>
        </ion-button>

        <ion-button *ngIf="!user.token" routerDirection="root" [routerLink]="['/register']" lines="none" fill="clear" class="menu-button" (click)="toggleMenu()">
          <ion-icon slot="start" name="person-add"></ion-icon>
          <ion-label>{{registerMenuTitle | translate}}</ion-label>
        </ion-button>

        <ion-button *ngIf="user.token" routerDirection="root" [routerLink]="['/logout']" lines="none" fill="clear" class="menu-button" (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>{{logoutMenuTitle | translate}}</ion-label>
        </ion-button>

        <ion-item class="language-select">
          <ion-label>{{ selectLangMenuTitle | translate }}</ion-label>
          <ion-select 
            [(ngModel)]="currentLang" 
            (ionChange)="setLanguage($event.detail.value)" 
            [cancelText]="cancelTransl | translate">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="pl">Polski</ion-select-option>
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="de">Deutsch</ion-select-option>
            <ion-select-option value="fr">Français</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>