ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  max-width: 400px;
  margin: auto;
  margin-top: 170px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.name-input,
.email-input,
.password-input {
  margin-bottom: 20px;
}

.submit-button ion-button {
  margin-top: 20px;
}
