.food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
    grid-auto-flow: dense;
}


.food-list::-webkit-scrollbar {
    width: 10px;
}

.food-list::-webkit-scrollbar-thumb {
    background-color: #fe7240;
    border-radius: 5px;
}

.food-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.food-item {
    margin: 0.5rem;
}

.food-link {
    border: 2px solid #f87f54;
    margin: 0.53rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-decoration: none;
    box-shadow: 0 0 0.3rem black;
    font-size: 1.2rem;
    background-color: #f87f54;
    transition: transform 0.3s;
}

.food-link:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.food-image {
    width: 100%;
}

.name {
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
}

.cook-time-container,
.price {
    color: whitesmoke;
    font-size: 1rem;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.cook-time-container {
    display: flex;
    align-items: center;
}

.cook-time-img {
    padding-right: 5px;
}

.cook-time-text {
    display: inline-block;
    padding-bottom: 4px;
}

.bag-add-icon {
    margin-left: auto;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}

.bag-add-icon {
    transition: color 0.5s ease;
}

.bag-add-icon:hover {
    color: green;
}

@media screen and (max-width: 768px) {
    .food-item {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 480px) {
    .food-item {
        flex-basis: 100%;
    }
}