<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-search (searchTextChanged)="onSearch($event)"></app-search>

  <ion-list class="food-list">
    <ng-container *ngFor="let food of foods">
      <ion-item class="food-item" lines="none" (click)="presentModal(food)"
        *ngIf="searchText === '' || food.name.toLowerCase().includes(searchText)">
        <div class="food-link">
          <img [src]="food.imageurl" class="food-image" />
          <ion-label class="content">
            <h2 class="name">{{food.name}}</h2> 

            <div class="rating-container">
              <igc-rating 
                [value]="calculateAverageRating(food.foodratings)" 
                min="1" max="5" 
                (igcChange)="submitRating($event, food.id);" 
                (click)="$event.stopPropagation()"
              ></igc-rating>       
              <h1 class="rating-count">: {{food.foodratings.length}}</h1>
            </div>

            <div class="product-item-footer">
              <div class="price">
                {{food.price | currency}}
              </div>
              <div class="cook-time-container">
                <div class="cook-time-img">
                  <ion-icon name="timer" style="font-size: 1.4rem"></ion-icon>
                </div>
                <div class="cook-time-text">
                  {{food.cooktime}}min
                </div>
                <ion-icon class="bag-add-icon" name="bag-add"
                  (click)="addToCart(food); $event.stopPropagation();"></ion-icon>
              </div>
            </div>
          </ion-label>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>