ion-thumbnail {
  width: 20%;
  height: 20%;

  img {
    border-radius: 10px;
  }
}

.total-price {
  margin-left: 15px;
  font-weight: bold;
  color: rgb(56, 56, 56);
}

.price {
  font-weight: bold;
  font-size: 17px;
  color: rgb(56, 56, 56);
}

.checkout-button {
  padding: 0 15px;
  /* Shorter notation for padding */
}

.total-price {
  float: right;
  margin-right: 15px;
  padding-top: 10px;
  color: rgb(56, 56, 56);
}

.trash-icon:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

/* Adjusting ion-select styles */
.ion-item-select {
  display: inline-block;
}

.ion-select {
  font-size: 18px;
}

.empty-container {
  display: grid;
  place-items: center;
}

h1 {
  color: #fe7240;
}

ion-content {
  --offset-bottom: auto !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
      width: 10px;
  }

  &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #fe7240;
      border-radius: 5px;
  }
}