.custom-searchbar {
  --background: #f87f54;
  /* Kolor tła */
  --color: white;
  /* Kolor tekstu */
  --border-color: #f87f54;
  /* Kolor obramowania */
  --border-radius: 5rem;
  transition: transform 0.3s;
}

.custom-searchbar:hover {
  transform: scale(1.01);
}