<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ng-container *ngIf="orders.length < 1; else cartNotEmpty">
    <div class="empty-container">
      <div class="empty-img-container">
        <img class="image-logo" src="/assets/epty-cart.webp">
      </div>
      <div class="empty-text-container">
        <h1>You do not have any order</h1>
      </div>
    </div>
  </ng-container>

  <ng-template #cartNotEmpty>
    <ion-list>
      <ion-item *ngFor="let orderItem of orders">
        <ion-label>
          <h1 class="name">{{ orderItem.id }}</h1>
          <h1 class="name">{{ orderItem.name }}</h1>
          <h1 class="price">{{ orderItem.totalPrice }}</h1>
          <h1 class="price">{{ orderItem.address }}</h1>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- <div class="checkout">
      <div class="checkout-clear-container">
        <p class="total-price">Total: {{ orders.totalPrice | currency }}</p>
      </div>
    </div> -->
  </ng-template>
</ion-content>