<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{orderTranslation | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ng-container *ngIf="orders.length < 1; else orderNotEmpty">
    <div class="empty-container">
      <div class="empty-img-container">
        <img class="image-logo" src="/assets/epty-cart.webp">
      </div>
      <div class="empty-text-container">
        <h1>{{cartEmptyTranslation | translate}}</h1>
      </div>
    </div>
  </ng-container>

  <ng-template #orderNotEmpty>
    <ion-list>
      <ion-item class="order-items" *ngFor="let orderItem of orders">
        <ion-grid>
          <!-- Pierwszy ion-label zajmujący 3/4 szerokości -->
          <ion-row>
            <ion-col size="9">
              <ion-label (click)="orderItem.foodid ? presentModal(orderItem.foodid) : null">
                <div>
                  <p class="order-id-title">{{numberTranslation | translate}}: </p>
                  <p class="order-id">{{ orderItem.id }}</p>
                </div>

                <div>
                  <p class="order-name-title">{{userNameTranslation | translate}}: </p>
                  <p *ngIf="isAdmin" class="order-name">{{ orderItem.name }}</p>
                </div>

                <div>
                  <p class="order-total-price-title">{{totalPriceTranslation | translate}}: </p>
                  <p class="order-total-price">{{ orderItem.totalprice | currency }}</p>
                </div>

                <div>
                  <p class="order-address-title">{{addressTranslation | translate}}: </p>
                  <p class="order-address">{{ orderItem.address }}</p>
                </div>
              </ion-label>
            </ion-col>

            <ion-col size="12" size-md="3"> <!-- Zmiana na size="12" dla mniejszych ekranów -->
              <ion-label>
                <ion-item lines="none">
                  <ng-container *ngIf="isAdmin; else readOnly">
                    <ion-select [(ngModel)]="orderItem.status" (ionChange)="updateStatus(orderItem)" [cancelText]="cancelTransl | translate">
                      <ion-select-option *ngFor="let status of statuses" [value]="status.value">
                        {{ status.label | translate}}
                      </ion-select-option>
                    </ion-select>
                  </ng-container>
                  <ng-template #readOnly>
                    <ion-badge class="custom-badge" color="primary">{{ getStatusLabel(orderItem.status ?? 0) | translate}}</ion-badge>
                  </ng-template>
                </ion-item>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
