<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ng-container *ngIf="orders.length < 1; else orderNotEmpty">
    <div class="empty-container">
      <div class="empty-img-container">
        <img class="image-logo" src="/assets/epty-cart.webp">
      </div>
      <div class="empty-text-container">
        <h1>You do not have any order</h1>
      </div>
    </div>
  </ng-container>

  <ng-template #orderNotEmpty>
    <ion-list>
      <ion-item class="order-items" *ngFor="let orderItem of orders" (click)="orderItem.foodid ? presentModal(orderItem.foodid) : null">
        <ion-label>
          <div>
            <p class="order-id-title">Number: </p>
            <p class="order-id">{{ orderItem.id }}</p>
          </div>

          <div>
            <p class="order-name-title">User Name: </p>
            <p *ngIf="isAdmin" class="order-name">{{ orderItem.name }}</p>
          </div>

          <div>
            <p class="order-total-price-title">Total Price: </p>
            <p class="order-total-price">{{ orderItem.totalprice }}</p>
          </div>

          <div>
            <p class="order-address-title">Address: </p>
            <p class="order-address">{{ orderItem.address }}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>