ion-thumbnail {
    width: 20%;
    height: 20%;
  
    img {
      border-radius: 10px;
    }
  }
  
  .total-price {
    margin-left: 15px;
    font-weight: bold;
    color: #fe7240;
  }
  
  .price {
    font-weight: bold;
    font-size: 17px;
    color: #fe7240;
  }
  
  .checkout-button {
    padding: 0 15px;
    /* Shorter notation for padding */
  }
  
  .total-price {
    float: right;
    margin-right: 15px;
    padding-top: 10px;
    color: #fe7240;
  }
  
  .trash-icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  /* Adjusting ion-select styles */
  .ion-item-select {
    display: inline-block;
  }
  
  .ion-select {
    font-size: 18px;
  }
  
  .empty-container {
    display: grid;
    place-items: center;
  }
  
  h1 {
    color: #fe7240;
  }
  
  ion-item {
    cursor: default;
    border-radius: 1rem;
  }
  
  ion-item:hover {
    --background-hover: var(--ion-item-background-hover, #f4f5f8);
  }
  
  ion-item:focus-within {
    --background-hover: var(--ion-item-background-hover, #f4f5f8);
  }

  .order-id, .order-id-title, .order-name, .order-name-title, .order-total-price, .order-total-price-title, .order-address, .order-address-title {
    display: inline-block; 
    margin-right: 8px;
  }

  .order-id, .order-name, .order-total-price, .order-address {
    font-weight: bold;
    font-size: 17px;
    color: #fe7240;
    display: inline-block; 
    margin-right: 8px;
  }

  .order-id-title, .order-name-title, .order-total-price-title, .order-address-title {
    font-size: 17px;
    color: black;
  }

  .order-items {
    cursor: pointer;
    transition: opacity 0.3s ease; /* Dodajemy efekt płynnej zmiany */
  }
  
  .order-items:hover {
    opacity: 0.5; /* Wyszarzenie elementu przy najechaniu */
  }

  ion-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .custom-badge {
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 30px;
    white-space: normal; /* Pozwól na zawijanie tekstu w przypadku potrzeby */
    word-wrap: break-word; /* Pozwól na zawijanie długich słów */
    display: inline-block;
    max-width: 100%; /* Zapewnia responsywność */
    width: 100%;
  }
  
  @media (max-width: 768px) { /* Dostosowanie dla mniejszych ekranów */
    .custom-badge {
      font-size: 14px;  /* Zmniejsz rozmiar czcionki dla mniejszych ekranów */
      padding: 6px 12px; /* Zmniejsz padding dla mniejszych ekranów */
    }
  }