<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="this.order.name" readonly="true" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address (Find on map below)</ion-label>
        <ion-input [(ngModel)]="this.order.address" readonly="true" type="text"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card class="map-card">
      <ion-title size="large">Choose Your Address On Map</ion-title>
      <map [order]="order"></map>
    </ion-card>
    <order-items-list [order]="order"></order-items-list>
      <div class="buttons"> 
        <div #paypal ></div>
      </div>
  </div>
</ion-content>
